@model IEnumerable<Luigi.Models.RecipeResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipes</h2>


@foreach (var item in Model)
{
    <div class="thumbnail">
        <img src="@item.Thumbnail" alt="@item.Title">
        <div class="caption">
            <p>@item.Title</p>
        </div>
    </div>
    <br/>
}
