html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #00365F;
    color: white;
    position: relative;
    background: linear-gradient(to bottom, #00426c 0%,#00143b 100%);
}

img.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 45px;
}

img.hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
}

input.mic {
    width: 100px;
    height: 100px;
    background: url('../Assets/microphone.png');
    border: 0;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 50px);
    background-size: cover;
}

#luigi {
    border: 1px solid red;
}

textarea:focus, input:focus{
    outline: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.luigi {
    width: 100%;
}

.centre-button {
    text-align: center;
}

.navbar-custom {
    background-color:#033052;
    color:#ffffff;
    border-radius:0;
}

.center {
    margin: auto;
    width: 50%;
}