@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(function() {
        $("#ClickImage").click(function() {
            $.ajax({
                url: "/Home/Speak",
                type: "GET",
                error: function(response) {
                    console.log(response);
                },
                success: function(response) {
                    console.log(response);
                }
            });
        });
    });

    var id = "luigi";
    var renderer = PIXI.autoDetectRenderer(400, 500, { transparent: true });
    //$("#" + id).append(renderer.view);
    document.body.appendChild(renderer.view);

    var stage = new PIXI.Container();
    var spine = null;


    PIXI.loader
        .add(id, '/Assets/anim.json')
        .load(function(loader, res) {

            // create a spine boy
            spine = new PIXI.spine.Spine(res.luigi.spineData);

            // set the position
            spine.position.x = -110;
            spine.position.y = 560;

            spine.scale.set(0.6);

            // play animation
            spine.state.setAnimationByName(0, "idle", true);

            stage.addChild(spine);
        });

    stage.interactive = true;
    animate();

    function animate() {
        requestAnimationFrame(animate);
        renderer.render(stage);
    }

</script>

<!--img class="img-responsive" src="~/Assets/luigi-chef.png" id="ClickImage"/-->

<div id="luigi"></div>


<input class="mic" type="button" onclick="location.href = '@Url.Action("Index", "Recipes")'" />


