@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(function () {
        $("#ClickImage").click(function () {
            $.ajax({
                url: "/Home/Speak",
                type: "GET",
            error: function (response) {
                console.log(response);
            },
            success: function (response) {
                console.log(response);
            }
        });
        });
    })
</script>

<img class="img-responsive" src="~/Assets/luigi-chef.png" id="ClickImage"/>

<div class="centre-button">
    <input class="mic" type="button" value="Get recipes" onclick="location.href = '@Url.Action("Index", "Recipes")'" />
</div>

